<article>
  <h2>{{#link-to 'question' question.id}}{{question.content}}{{/link-to}}</h2>
  <p>
    Asked by: {{question.author}} on {{format-date question}}
  </p>
  <p>
    Current number of answers: {{totalAnswers}}
  </p>

</article>
